[project]
	description = Demo project code for testing on teensy
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gabrielle Trotter (gmagee101)
[access "refs/for/refs/*"]
	read = group user/Gabrielle Trotter (gmagee101)
	push = group user/Gabrielle Trotter (gmagee101)
	label-Code-Review = -2..+2 group user/Gabrielle Trotter (gmagee101)
	label-Verified = -1..+1 group user/Gabrielle Trotter (gmagee101)
	rebase = group user/Gabrielle Trotter (gmagee101)
	removeReviewer = group user/Gabrielle Trotter (gmagee101)
	submit = group user/Gabrielle Trotter (gmagee101)
[access "refs/heads/*"]
	read = group user/Gabrielle Trotter (gmagee101)
	create = group user/Gabrielle Trotter (gmagee101)
	push = +force group user/Gabrielle Trotter (gmagee101)
	pushMerge = group user/Gabrielle Trotter (gmagee101)
[access "refs/tags/*"]
	push = +force group user/Gabrielle Trotter (gmagee101)
	pushTag = group user/Gabrielle Trotter (gmagee101)
	pushSignedTag = group user/Gabrielle Trotter (gmagee101)
